[user]
	email = gurpreetatwal@users.noreply.github.com
	name = Gurpreet Atwal
[core]
	editor = vim
[push]
	default = current
[branch]
	autosetuprebase = always
[advice]
	pushNonFastForward = false
	resolveConflict = false
[help]
	autocorrect = 5
